################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsGame/obj/x86/Debug
/WindowsGame/bin/Windows/x86/Debug
/.vs/WindowsGame/v15
